# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Test Dateien die du mit > erstellt hast
*.txt

Doxyfile
html
latex
stderr

# Build-Artefakte
shell
shell_tests
compile_commands.json
.cache/

# Analyse-Output
valgrind.log
*.log

# Testdaten
cmds.txt
exit.txt
.serena
